*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .img__logo{
    position: absolute;
    top: 46.8%;
    left: 48.6%;
  }
  .img__logo img{
    max-width: 100%;
    height: 50px;
  }
  @media (max-width:915px) {
    .img__logo{
        position: absolute;
        top: 48.5%;
        left: 48.9%;
      }
  }
  @media (max-width:821px) {
    .img__logo{
        position: absolute;
        top: 47.8%;
        left: 46.5%;
      }
  }
  @media (max-width:420px) {
    .img__logo{
        position: absolute;
        top: 47.3%;
        left: 43.7%;
      }
  }
  @media (max-width:281px) {
    .img__logo{
        position: absolute;
        top: 47%;
        left: 40%;
      }
  }
  #loader {
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    display: block;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  #loader:before {
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    -ms-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  #loader:after {
    border: 3px solid transparent;
    border-top-color: #990a97;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
